<div class="sensors-container">
  <button 
    type="button" 
    class="btn btn-sm btn-success" 
    (click)="updateDevice()"
  >
    Update
  </button>
  <table>
    <tr>
      <th>Sensors</th>
      <th>State</th>
    </tr>
    <tr *ngFor="let data of sensorArray">
      <td>{{ data.name }}</td>
      <td class="sensor-state">
        <input 
          value='{{ data.state }}'
          (keyup.enter)="editDeviceSensor(data.name, $event)"
          (blur)="editDeviceSensor(data.name, $event)"
        >
      </td>
    </tr>
  </table>
</div>