<div class="add-device">
  <div>
      <label>Device</label>
      <input 
        type="text" 
        placeholder="Device name"
        [(ngModel)]="deviceName"  
      >
      <label>Sensor</label>
      <div class="row">
        <div class="col">
          <input 
          type="text" 
          placeholder="Sensor name"
          [(ngModel)]="sensorName"    
        >
        </div>
        <div class="col">
          <input 
          type="text" 
          placeholder="Sensor state"
          [(ngModel)]="sensorState"   
        >
        </div>
      </div>
      <button
      type="button"
      class="btn btn-danger"
      [disabled]="!isSensorAdded"
      (click)="onCreateSensor()"
      >Add Sensor</button>
      <button
      type="button"
      class="btn btn-primary btn2"
        (click)="onCreateDevice()"
      >Add Device</button>
  </div>
</div>
